<app-navbar></app-navbar>
<div class="all">
  <div *ngIf="this.error === true || this.status === 401; else elseBlock">
    <div class="alert alert-warning" role="alert">
      {{message}}
    </div>
  </div>

  <ng-template #elseBlock>
    <table class="table">
      <tbody>
        <tr>
          <td><button type="button"
            class="btn btn-success" (click)="onPending()">
            <div *ngIf="this.isSubmit != true; else elseBlock">Pending</div>
            <ng-template #elseBlock><div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template></button></td>
          <td>
          </td>
          <td><button type="button"
            class="btn btn-success" (click)="onResolved()">
            <div *ngIf="this.isSubmit != true; else elseBlock">Resolved</div>
            <ng-template #elseBlock><div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </ng-template> </button></td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product ID</th>
          <th scope="col">Reqest Date</th>
          <th scope="col">Problem</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let request of serviceReqs; index as i">
          <th scope="row">1</th>
          <td>{{request.ProductId}}</td>
          <td>{{request.ReqDate.slice(0,10)}}</td>
          <td>{{request.Problem}}</td>
          <td>{{request.Description}}</td>
          <td>{{request.Status}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>