<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="signin.component.css">
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Service Booking</h2>
            </div>

        </div>
        <div class="content">
            <h1>Service Booking <br><span>Management System</span></h1>

            <div class="form">
                <h2>Login Here</h2>
                <form>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button type="submit" class="btnn">Login</button>
                </form>
                <p class="link">Don't have an account<br>
                    <a routerLink="/signin">Sign up </a>
                    <br>
                    <a routerLink="/forgetpassword">Forget Password?</a>
                </p>h
            </div>
        </div>
    </div>
    <!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
</body>

</html>