<app-navbar></app-navbar>
<div class="all">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product ID</th>
        <th scope="col">Reqest Date</th>
        <th scope="col">Problem</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>4</td>
        <td>15/0/22</td>
        <td>AC Maintance</td>
        <td>Cleaning and Maintance</td>
        <td>Resolved</td>
        <td><button type="button" class="btn btn-success">Details</button></td>
        <td><button type="button" class="btn btn-warning">Update</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>5</td>
        <td>15/0/22</td>
        <td>AC Maintance</td>
        <td>Cleaning and Maintance</td>
        <td>Pending</td>
        <td><button type="button" class="btn btn-success">Details</button></td>
        <td><button type="button" class="btn btn-warning">Update</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
  </div>
  