<app-navbar></app-navbar>
<div class="all">
    <div class="container">
        <div class="text-center">
            <h5 class="mb-4" style="color: white;">Book a Service</h5>
        </div>
            <form class="row g-3">
                <div class="input-group flex-nowrap">
                    <input type="datetime" class="form-control" placeholder="Reqest Date"  aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control"  placeholder="Problem" aria-label="Username"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                        <textarea class="form-control" placeholder="Description" aria-label="Username"  
                        aria-describedby="addon-wrapping"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Book</button>
                </div>
            </form>
        </div>
    </div>
