<app-navbar></app-navbar>
<div class="all">
    <div class="container">
        <div class="text-center">
            <h5 class="mb-4" style="color: white;">UPDATE PRODUCT</h5>
        </div>
            <form class="row g-3">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Name of the Product"  aria-label="Username" value="{{name}}"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control"  placeholder="Model of the Product" aria-label="Username" value="{{model}}"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Maker of the Product" aria-label="Username"  value="{{make}}"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="input-group flex-nowrap">
                    <input type="number" class="form-control" placeholder="Cost of the Product" aria-label="Username"  value="{{cost}}"
                        aria-describedby="addon-wrapping">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
